<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/profile copy.css">
</head>
<body>
    <div id="overlay"></div>

        <div id="main">
            <div id="nav">
                <div id="left">
                 <div id="icon">
                    <i class="ri-home-heart-fill"></i>
                    <h4>ideashub</h4>
                </div>
            </div>
            <div id="middle">
                <input type="text" placeholder="Search">
            </div>
            <div id="right">
                <a href="/home"><h5>pins</h5></a>
                <a href="/pin-builder"><h5>post</h5></a>
                <a href="/logout" ><h4>logout</h4></a>
                 <a href="/profile"><div id="pp"><img src="<%=pic%>" alt=""></div></a>
                </div>
            </div>
        
        <div id="top">
            <div id="propic"><img src="<%=user.profilepic%>" alt=""></div>
            <div id="name"><%=user.name ? user.name : "add name"%></div>
            <div id="username" class="<%=user._id%>">@<%=user.username%></div>
            <div id="followers">
                <p><%=user.following.length%> following</p>
                <p><%=user.followers.length%> followers</p>
            </div>
            <div id="buttons">
                <a href=""><button id="share">Share</button></a>
                <button id="follow" class="<%=userid%>"><%= user.followers.includes(userid) ? "following" : "follow"%></button>
            </div>
            <div id="view">
                <p id="created">Created</p>
                <p id="saved">Saved</p>
            </div>
        </div>
        <i style="display: none;" class="ri-add-fill"></i>
        <div id="pins">
            <% user.albums.forEach((data)=>{ %>
                <a href="/savedpins/<%=data%>/<%=user._id%>" id="overlay<%=data%>">
                    <div id="pin">
                        <div id="thumbnail" class="<%=data%>">
                            <div id="one"><img src="" alt=""></div>
                            <div id="two"><img src="" alt=""></div>
                            <div id="three"><img src="" alt=""></div>
                        </div>
                        <label for="thumbnail"><%=data%></label>
                    </div>
                </a>
           <% }) %>
            
        </div>
        <div id="createdpins">
            <div class="pin_container">
                <%user.pins.forEach((data)=>{ %>
                    <div class="card">
                       <img class="savedpins" id="<%=data._id%>" src="<%=data.pin%>" alt="">
                       <p><%=data.title%></p>
                    </div>
                    <% }) %>
            </div>
        </div>

    <div id="createboard">
        <h2>Create Board</h2>
        <label for="name">name</label>
        <input type="text" name="naam" id="naam" placeholder='Like "places to go" or "recipes to make"'>
        <button id="create">Create</button>
    </div>
    <div id="addname">
        <h2>Add name</h2>
        <label for="name">name</label>
        <input type="text" name="naam" id="naam" placeholder='Your nick name'>
        <button id="add">Add</button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.2/axios.min.js" integrity="sha512-bHeT+z+n8rh9CKrSrbyfbINxu7gsBmSHlDCb3gUF1BjmjDzKhoKspyB71k0CIRBSjE5IVQiMMVBgCWjF60qsvA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/javascripts/profile copy.js"></script>
</body>
</html>